<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-center">URL Shortener Microservice</h1>
			<h2>How to use this service</h2>
			<p>Send a valid URL as parameter to <code>https://harryteo-url-shortener-ms.herokuapp.com/new/</code></p>
			<p>This service will return a JSON object with the original URL and the shortened URL.</p>
			<p>Future visits to the shortened URL will redirect to the original URL.</p>
			<h2>Example Usage</h2>
			<p>Input: <code>https://harryteo-url-shortener-ms.herokuapp.com/new/https://www.youtube.com</code></p>
			<p>Output: <code>{"original_url":"https://www.youtube.com","short_url":"https://harryteo-url-shortener-ms.herokuapp.com/1"}</code></p>
			<p>Visit: <a href="https://harryteo-url-shortener-ms.herokuapp.com/1" target="_blank">https://harryteo-url-shortener-ms.herokuapp.com/1</a></p>			
		</div>
	</div>
</div>